:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.help-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 221, 0);
  padding-top: 0.1 rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: .66rem;
  border-radius: 12px;
  font-family:  monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 10;
  pointer-events: none; /* so it doesn’t block mouse/keyboard input */
}

.help-menu.hidden {
  display: none;
}


#webgl-container {
  width: 100vw;
  height: 100vh;
}


 
/* lil-gui styles */


.lil-gui {
	--name-width: 5em;
	--width: 180px;
	--slider-knob-width: 0.33em;
	--widget-padding: 0 0 0 0.5em;
	--number-color: rgb(242, 255, 0);
  --widget-color: rgb(29, 51, 58);
  --background-color: #02020280; 
  --input-font-size: 10px !important; /* Adjust the size as needed */
  --font-size: 10px !important; /* Adjust the size as needed */
  --font-family: 'Courier New', monospace;
}

.lil-gui.root {
	border-bottom-right-radius: 0em;
	margin: 1em;
	padding: 0 em;
	right: 0;
	top: 0;
	position: fixed;
}

.lil-gui input.top{
	border-top-right-radius: 0.65em;
}

.lil-gui input.bottom, .lil-gui button.bottom{
	border-bottom-right-radius: 0.65em;
}

.lil-gui .controller.option .widget div {
	width: 9.15em;
}

.lil-gui .gap{
	margin-bottom: 2em;
}

.lil-gui em {
	color: Orange;
	font-weight: bold;
	font-style: small;
}

.lil-gui big {
	font-weight: bold;
	text-transform: uppercase;
}


.lil-gui .controller.string input {
	font-family: Monospace;
}
