:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #0f0f09;
	margin: 0;
	padding:0;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
	
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#ui-root {
	width: 100vw;
  	height: 100vh;
	position: absolute;
	inset: 0;
	pointer-events: none; 
	overflow: hidden;
}

#title-screen {
	position: absolute;
	inset:0;
	color: #ffffffe0;
	pointer-events: auto;
	font-family: 'ShigotoMemogaki', 'HolidayMDJP05','KYuMincho','Boheme Floral', 'Segoe UI';
	font-size: 2.0rem; 
	
	opacity: 100; /* start invisible */
	outline: 0px solid red; /* on for debug */
	
	display: flex;
	flex-direction: column;
	justify-content: center;  /* vertical center */
	align-items: center;      /* horizontal center */
	text-align: center; 
	gap: .1rem;                /* spacing between title and button */
	overflow: hidden;

	/* animation: vcr-jitter 0.1s infinite;
    animation-play-state: paused; */
}

/* Jitter when clicking? */
/* 
#title-screen:active { 
    animation-play-state: running;
} */

#subtitle {
	font-family: monospace, 'Segoe UI', Tahoma,  Verdana, sans-serif;
	/* font-size: clamp(1.2rem, 2.25vw, 2.5rem); */
	font-size: 1.0rem;
	color: white;
	letter-spacing: 0.2em;
	margin: 0;
	padding: .1rem .1rem;
	filter: blur(0.66px);
	cursor: default;
	/* outline: 1px solid red; */
  
}

#title-text { 
	margin-bottom: 2.0rem;
	position: relative;
	display: inline-block; /* IMPORTANT */
	font-size: clamp(1.2rem, 6vw, 8rem);
	letter-spacing: 0.1em;
	color: GhostWhite;
	width:100vw;
	overflow: hidden;  /* you already have this ✔ */
	filter: blur(0.66px);
}
.base {
  visibility: hidden;
}
.layer {
  position: absolute;
  inset: 0;              /* instead of top/left */
  pointer-events: none;
  mix-blend-mode: screen;
}

.layer.r { color: red; }
.layer.g { color: lime; }
.layer.b { color: blue; }

#start-btn {
	font-family: monospace, 'Segoe UI', Tahoma,  Verdana, sans-serif;
	/* margin-top:11.5rem; */
	padding: .1rem .5rem;
	font-size: 0.8rem;
	font-weight: normal;
	border: none;
	border-radius: 6px;
	background-color: #00000000;
  	color: GhostWhite;
	cursor: pointer;
	filter: blur(.66px);
	
}

#start-btn:hover {
  color: crimson;
  font-weight: heavy;
  /* filter: blur(0.33px);  */
  /* transform: scale(2.5); */
 
}

.container {
	display: flex;
	width: 100vw;
  	height: 100vh;
	margin:0;
	padding:0;
}

.help-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 221, 0);
  padding-top: 0.1 rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  padding-bottom: .66rem;
  border-radius: 12px;
  font-family:  monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 10;
  pointer-events: none; /* so it doesn’t block mouse/keyboard input */
}

.help-menu.hidden {
  display: none;
}


#webgl-container {
  width: 100vw;
  height: 100vh;
}


#webgl {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* start invisible */
}

 
/* lil-gui styles */

.lil-gui {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 1;

	font-weight: normal;
	font-style: normal;
	text-align: left;

	color: var(--text-color);
	user-select: none;
	-webkit-user-select: none;

	touch-action: manipulation;

	&,
	& * {
		box-sizing: border-box;
		margin: 4;
		padding: 5;
	}

	&.lil-root {
		width: var(--width, 245px);
		display: flex;
		flex-direction: column;
		background: var(--background-color);
		> .lil-title {
			background: var(--title-background-color);
			color: var(--title-text-color);
		}
		> .lil-children {
			overflow-x: hidden;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: var(--scrollbar-width);
				height: var(--scrollbar-width);
				background: var(--background-color);
			}
			&::-webkit-scrollbar-thumb {
				border-radius: var(--scrollbar-width);
				background: var(--focus-color);
			}
		}
	}
   
	--background-color: #0f0f0fbf;
	--text-color: #fb9b4b;
	--title-background-color: #010101;
	--title-text-color: #ebebeb;
	--widget-color: #0202028f;
	--hover-color: #4f4f4f;
	--focus-color: #595959;
	--number-color: #02fb3c;
	--string-color: #02db3c;
	--font-size: 10px;
	--input-font-size: 11px;
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
	--font-family-mono: Menlo, Monaco, Consolas, 'Droid Sans Mono', monospace;
	--padding: 6px;
	--spacing: 4px;
	--widget-height: 19px;
	--title-height: calc(var(--widget-height) + var(--spacing) * 1.5);
	--name-width: 40%; 
	--slider-knob-width: 2px;
	--slider-input-width: 27%;
	--color-input-width: 27%;
	--slider-input-min-width: 45px;
	--color-input-min-width: 45px;
	--folder-indent: 7px;
	--widget-padding: 0 0 0 3px;
	--widget-border-radius: 3px;
	--checkbox-size: calc(0.75 * var(--widget-height));
	--scrollbar-width: 5px;

	@include touch-vars {
		--widget-height: 28px;
		--padding: 6px;
		--spacing: 6px;
		--font-size: 13px;
		--input-font-size: 16px; // < 16px causes zoom on iOS
		--folder-indent: 10px;
		--scrollbar-width: 7px;
		--slider-input-min-width: 50px;
		--color-input-min-width: 65px;
	}

	&.lil-auto-place,
	/* // https://github.com/georgealways/lil-gui/pull/154
	// .autoPlace is deprecated in 0.21.0, but unlikely to conflict with user styles.
	// keeping it for backwards compatibility. */
	&.autoPlace {
		max-height: 100%;
		position: fixed;
		top: 0;
		right: 15px;
		z-index: 1001;
	}
}



.shake-heavy {
    /* animation: shake 0.2s infinite; */
	animation: shake 0.15s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(3px, 2px) rotate(-1deg); }
    60% { transform: translate(-1px, -1px) rotate(1deg); }
    80% { transform: translate(-3px, -2px) rotate(0deg); }
    100% { transform: translate(1px, 2px) rotate(-1deg); }
}